/build
node_modules
../../ЗАГРУЗКИ/Продвинутый Frontend. В Production на React (2023)/2 Router, App Layout, i18n, eslint, stylelint, jest/12 Navbar. Шаблоны для разработки. Первый UI Kit компонент/12_lesson/production_project_code_source-master/.idea
